
body {
    color: #625e5e;
}
.no-animation{
    animation: none!important;
}

.maintain-aspect{
    width:290px;
    height:290px;
    position: relative;
    overflow:hidden;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}